:root {
    font-size: 62.5%;
} 

* {
    outline: dotted 1px red;
}

body {
    font-family: arial;
    overflow-x: hidden;
    padding: 0.01rem;
}

header {
    background-color: black;
    overflow: auto;
    padding: 0.2rem;
    width: 100vw;
   /* position: fixed;*/
}

header a {
    display: block;
    overflow: auto;
    width: 50%;
    float: left;
    margin: 0rem;
}

header img {
    float: left;
    width: 25%;
}

header a {
    float: left;
}

header h1 {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0rem;
    float: right;
    margin: 0.1rem;
    width: 70%;    
}

button {
    display: none;
}

nav {
    width: 50%;
    color: white;
    float: left;
    margin-top: 0rem;
    padding: 0rem;
    text-align: left;
}

ul {
    float: right;
    margin-top: 0rem;
    
   /* margin-top: auto; */
}

nav li {
    display: inline;
    margin-right: 0.2rem;
    font-size: 0.4rem;
}

#noticias-destacadas figure {
    background-color: black;
    float: left;
    width: 100vw;
}

#noticias-destacadas {
    width: 300vw;
    overflow: auto;
   /* animation: 10s slider infinite;*/
    margin-bottom: 0.2 rem;
}

figure img {
    display: block;
    width: 100%;
}

figure h2 {
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 1rem;    
}


#ultimas-noticias {   
    width: 100vw;
    background-color: white;
    overflow: auto;
}

.noticias {
    width: 100%;
    border-bottom-color: rgba(43, 42, 42, 0.836);
    border-bottom-width: 0.02rem;
    border-bottom-style: solid;
    padding-bottom: 0.1rem;
    padding-top: 0.1;
    overflow: auto;
    margin-top: 0.05rem;
    margin-bottom: 0.1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.noticias figure {
    min-width: 50px;
    max-width: 20%;
    flex-grow: 1;
    float: none;
}

.noticias article {
    min-width: 60%;
    flex-grow: 3;
    float: none;
}
/*
#ultimas-noticias figure {
    float: left;
    width: 30%;
}
*/
/*
#ultimas-noticias img {
    margin: auto;
}
*/
/*
#ultimas-noticias article {
    float: right;
    width: 70%;
    
}*/

#ultimas-noticias a {
    overflow: auto;
    color: black;
    text-decoration: none;
    display: block;
    margin: 0;
}



h3 {
    font-weight: bold;
    color: black;
    margin: 0.1rem 0.2rem 0.1rem 0.4rem;
    font-size: 0.8rem;
}
cite {
    margin: 0.1rem 0.2rem 0.3rem 0.4rem;
    font-size: 0.3rem;
    display: block;
}

#ultimas-noticias p {
    margin: 0.1rem 0.2rem 0.1rem 0.4rem;
    font-size: 0.35rem; 
}

.autor {
    font-weight: bold;
}

#noticiasv02 {
    width: 100vw;
}

.noticiav03 {
    width: 100%;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start ;
}

.noticia-img {
    width: 25%;
}

.noticia-txt {
    width: 65%;
    background-color: lightgreen;
}

.noticia-img img {
    width: 100%;
}

#tabla-resultado table {
    margin: auto;
}

#tabla-resultado th {
    background-color: red;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
/* ESTILOS CDN */

@keyframes slider {
    0% {  margin-left: 0; opacity: 1; }
    30% {  margin-left: 0;  }
    35% {  margin-left: -100vw;  }
    65% {  margin-left: -100vw;  }
    70% {  margin-left: -200vw;  }
    100% { margin-left: -200vw; opacity: 1;  }


}


@media screen and (max-width: 80px ) {

    header {
        padding: 0;
        width: 100vw;
        margin: 0rem;
    }

    header a {
        width: 80%;
        float: left;
        margin: 0rem;
    }

    header h1 {
        font-size: 0.6rem;
        width: 75%;
        float: right;
        margin: 0rem;
        text-align: center;
    }

    header img {
        width: 25%;
        margin: 0rem;
        float: left;
    }

    button {
        display: block;
        color: white;
        float: right;
        font-size: 0.6rem;
        line-height: 80%;
        border: none;
        padding: 0.15rem;
        background-color: transparent;
        width: 18%;
        margin: 0rem;
        text-align: center;

    }

    header nav {
        display: none;
    }

    figure h2 {
        font-size: 0.35rem;
        padding: 0.3rem;
        text-align: left;
    }

    
}
/*
@media screen and (max-width: 480px) {
    header {
        background-color: red;
    }
}

@media screen and (min-width: 481px) and (max-width: 1100px) {
    header {
        background-color:green;
    }
}
*/

/*
@media screen and (max-width: 800px) {   */
    /*inicio de @media query */
 /*   #ultimas-noticias {
        flex-direction: column;
    }

    #ultimas-noticias figure {
        width: 100%;
    }

    #ultimas-noticias article {
        width: 100%;
    }

    nav {
        display: none;
        float: none;
        clear: left;
    }
    
    button {
        display: block;
        color: white;
        float: right;
        font-size: 1.5rem;
        line-height: 100%;
        border: none;
        padding: 0.25rem;
        background-color: transparent;

    }

    button:focus + nav{
        display: block;
    }
    /*fin de @media query */
/*
} */